*{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fuenteGeneral);
    scroll-behavior: smooth;
    color: white;
}

:root {
    --color1: rgb(255, 255, 255);
    --color2: rgb(0, 0, 0);
    --color3: #ff0e87;
    --background-color1: rgb(255, 255, 255);
    --background-color2: rgb(0, 0, 0);
    --background-color3: #ff0e87;
    --fuenteTitulos: "Kanit", sans-serif;
    --fuenteGeneral: 'Poppins', sans-serif;

}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 0;
    
}

body {
    background-color: var(--background-color2);
}

h1 ,
h2,
h3, 
h4 {
    font-weight: 700;
    font-style: normal;
    font-family: var(--fuenteTitulos);
}

.btn {
    margin: 5px !important;
}

.btn-light:hover {
    background-color: var(--background-color3); 
    color: var(--color1); 
    border-color: var(--color3);
    transition: 0.5s;
    
}


/* Header */

/* .container {
    margin: 0;
    padding: 0;
} */

.d-flex.justify-content-between {
    gap: 2rem; /* Ajusta este valor para el espacio deseado */
}

.justify-content-between {
    justify-content: space-between !important;
}

.navbar {
    padding: 2%;
}
.navbar-brand {
    width: 10%;
}

.navbar-nav .nav-link {
    padding: 10px 10px; 
}

.navbar-nav .nav-item {
    margin-right: 50px; 
} 

.nav-link:hover {
color: var(--color3) !important;
}

.my-color-btn {
    background-color: var(--background-color2);
}


.menu {
    position: relative;
    z-index: 999; 
}

.submenu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: var(--background-color1); 
    z-index: 1000;
    z-index: 996;
}


@media (min-width: 700px) {
.menu:hover {
    background-color: var(--background-color1);
    z-index: 995;
  } 

.menu:hover .btn-light {
    background-color: var(--background-color2); 
    color: var(--color1); 
    border-color: var(--color2);
    
}

.menu:hover .btn-outline-light {
    color: var(--color2); 
    border-color: none; 
}

.menu:hover .btn-light:hover {
    background-color: var(--background-color3); 
    color: var(--color1);
    border-color: var(--color3);
    
}

.menu:hover .btn-outline-light:hover {
    color: var(--color3); 
    border-color: var(--color3);
}

.menu:hover .submenu {
    display: block;
}

.submenu .nav-link {
    padding: 10px 15px;
    color: #000000;
    text-align: center;
}

.submenu .navbar-nav {
    flex-direction: row; 
    justify-content: center;
    margin: 0;
    padding: 0;
}

.submenu .nav-item {
    list-style: none;
}
}



.btn {
    border-radius: 0;
}

.navbar:hover {
    background-color: var(--background-color1);
    z-index: 999;
}
.navbar-toggler {
    border: none; 
}

video { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 790;
}
div#fashion {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container {
    position: relative;
    height: 100vh; 
    overflow: hidden; 
}

.video-container video {
    position: absolute; 
    top: 50%;
    left: 50%;
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    transform: translate(-50%, -50%);
}

.header-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.full-width-header {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.overlay-text {
    position: absolute; 
    top: 50%; 
    left: 0; 
    transform: translateY(-50%); 
    color: var(--color1);
    padding-left: 7%; 
    z-index: 800;
}


/* SECCIONES */

.text-right .btn-click {
    color: var(--color1); 
    transition: 0.5s;
}

.text-right:hover .btn-click .arrow {
    color: var(--color3); 
    transition: 0.5s;
}

.text-right:hover .btn-click {
    color: var(--color3); 
    transition: 0.5s;
}

.text-right:hover .btn-click .arrow {
    color: var(--color3); 
    transition: 0.5s;
}

.btn-link:hover {
    text-decoration: none; 
    transition: 0.5s;
    color: var(--background-color3);
}


/* NUESTRA HISTORIA */

#historia {
    padding: 20%; 
}

.white-text {
    color: var(--color1);
}



/* VIENE Y VA */

#vieneyva {
    padding: 50px 0;   
}

.arrow {
    margin-left: 5px; 
    color: var(--color1);
}

.container-cards {
    padding: 5%;
    border-radius: 0; 
}

.card {
    transition: transform 0.3s ease; 
    cursor: pointer; 
    margin: 10px; 
    border: none; 
    background-color: transparent; 
    border-radius: 0; 
}


.card:hover {
    transform: scale(1.1);
}

.container-cards {
    padding: 5%;
    border-radius: 0; 
}

.card {
    transition: transform 0.3s ease; 
    cursor: pointer; 
    margin: 10px; 
    border: none; 
    background-color: transparent; 
    border-radius: 0; 
}


.card:hover {
    transform: scale(1.1);
}



.card-text {
    letter-spacing: 2px;
}


.card-text {
    letter-spacing: 2px;
}


/* DAILY INSPO */
.inspotextcontainer {
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 20%;
    padding-bottom: 15%;
}
.slick-carousel {
    padding-bottom: 15%;
}



/* GROWING BRANDS */

.brandsimages {
    padding-top: 7%;
    padding-bottom: 7%;
}

.full-width-image {
    width: 100%; 
    height: auto; 
    display: block; 
}

.image-container {
    position: relative; 
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.435)); /
    z-index: 1; 
}

.overlay {
    position: absolute;
    bottom: 10%; 
    left: 50%;
    transform: translateX(-50%); 
    color: var(--color1);
    text-align: center; 
    z-index: 2; 
}

.overlay p, .overlay h2 {
    margin: 2px; 
}

.btn {
    margin-top: 10px; 
}

.image-container {
    position: relative;
    overflow: hidden; 
}

.full-width-image {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease; 
}

.image-container:hover .full-width-image {
    transform: scale(1.1);
}


  
/* CAYÓ LA NOCHE */

 #cayolanoche {
    padding-bottom: 3%;
    padding-bottom: 7%;
} 

.container-noche {
    padding: 6%;  
     
}

.container-texto {
    padding-left:6%;
}


/* LATEST NEWS */

#news {
    padding: 2rem 0;
}

/* Ajustes de tarjetas */


.container-news {
    padding: 5%;
    border-radius: 0; 
}

.card-body {
    flex-grow: 1; 
    padding: 9%;
}

.card-news {
    width: 100%;
    transition: transform 0.3s ease; 
    cursor: pointer;
    margin: 10px; 
    border: none; 
    background-color: var(--background-color1);
    border-radius: 0; 
    color: var(--color2) !important;
    margin-bottom: 20px; 
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1; 
    margin-bottom: 5px; 
}

.card-text {
    font-weight: bold;
    margin-bottom: 5px; 
    line-height: 1.5; 
    letter-spacing: 10;
}

.card-title {
    margin-bottom: 10px; 
    line-height: 1.5; 
    margin-bottom: 10px; 
}

h9 {
    font-size: 0.9rem; 
    color: rgb(157, 157, 157); 
    line-height: 1.5; 
}

.row-equal-height .col-md-4 {
    display: flex;
    flex-direction: column;
}

.row-equal-height .card-news {
    flex: 1;
}


/* VIENE Y VA PÁGINA */

#vieneyva {
    padding-bottom: 3%;
    padding-bottom: 7%;
} 

.container-vieneyva {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 6%;
    padding-bottom: 6%;

}
.container-texto {
    padding-right: 6%;
}
    

/* CAYÓ LA NOCHE PÁGINA */

#vidanocturna {
    padding: 25%; 
}

.modal-content {
    border-radius: 0; 
}

.modal-body {
 padding-right: 15%;
 padding-left: 15%;
}

.btn-dark:hover {
    background-color: var(--background-color3); 
    color: var(--color1); 
    border-color: var(--color3);
}



/* FOOTER */

.footer-top {
    background-color: var(--background-color1);
    color: var(--color2) !important;
    justify-content: center; 
    align-items: center; 
    padding: 3%;
}

.footer-logo {
    padding: 5%;
}





.footer-bottom {
    background-color: var(--background-color2);
    color: var(--color1);
    padding: 1%;
}
.footer-logo {
    text-align: center;
}

.footer-columns {
    margin-right: 2%;
    margin-left: 2%;
}
.footer-column {
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.list-column {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 

}

.list-item {
    padding: 0 !important;
}

.footer-direction {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer-direction p {
    color: var(--color2) !important;
    font-size: 0.8rem;
}

.footer-column p {
    font-size: 0.6rem; 
    margin-bottom: 0 !important;
    color: var(--color1);
    text-decoration: underline;
}

.footer-column p:hover {
    text-decoration: none;
}

.list-link:hover {
    color: var(--color3);
}

.newsletter-column {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 1%;
}

.newsletter-column h5 {
    margin-bottom: 15px; 
font-size: 1.2rem;
}

.newsletter-column p {
    margin-top: 15px; 
    font-size: 0.9rem; 
}

/* Estilos para los enlaces del submenú */
.list-link {
    padding: 0;
    color: var(--color2);
    line-height: 3; 
    letter-spacing: 2px;
    text-decoration: none; 
}

.form-control {
    border-radius: 0; 
}

.form-btn {
    background-color: var(--background-color2); 
    color: var(--color1); 
    border: none; 
    transition: background-color 0.3s ease; 
}

.form-btn:hover {
    background-color: var(--background-color3); 
    color: var(--color1); 
}


/* Responsive */

/* iPad */
@media (max-width: 991px) { 
.nav-link {
    font-size: 12px;
}

.container-texto {
    padding-right: 1%;
    padding-left: 1%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='white' class='bi bi-list' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z'/%3e%3c/svg%3e");
}

}


/* Rango de 810px a 992px */
@media (min-width: 810px) and (max-width: 992px) {
    .container-cards .row {
        justify-content: center; /* Mantén las tarjetas centradas */
    }
    .container-cards .col-md-4 {
        max-width: 45%; /* Ajusta el ancho de las columnas para que no ocupen el espacio completo */
        margin-bottom: 20px; /* Espacio entre las tarjetas */

      
    }
}


/* iPad Mini */
@media (max-width: 768px) { 
    .nav-link {
        font-size: 12px;
    }
    
    .container-texto {
        padding-right: 1%;
        padding-left: 1%;
    }

    
    }
    


/* Movil */
 





