*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 0;
    
}

body {
    background-color: var(--background-color1);
}

h1 ,
h2,
h3, 
h4 { 
    font-family: 'Paytone One', sans-serif;

}

:root {
    --color1: rgb(255, 255, 255);
    --color2: rgb(0, 0, 0);
    --background-color1: rgb(255, 255, 255);
    --background-color2: rgb(0, 0, 0);

}





/* Header */

.container {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    width: 10%;
}

.navbar-nav .nav-link {
    padding: 10px 10px; /* Ajustar padding vertical y horizontal */
}

.navbar-nav .nav-item {
    margin-right: 50px; /* Espacio entre los elementos */
} 

body {
    background-color: rgb(0, 0, 0);
}



.my-color-btn {
    background-color: black;
}

/* Estilo para el contenedor principal del menú */
.menu {
    position: relative;
    z-index: 999;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%; /* Colocar justo debajo del navbar principal */
    left: 0;
    width: 100%;
    background-color: #ffffff; /* Fondo del submenú */
    z-index: 1000;
}

@media (min-width: 700px) {
.menu:hover {
    background: var(--background-color1);
    color: var(--color2);
    z-index: 998;
  } 

.menu:hover .btn-light {
    background-color: #000000; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
}

.menu:hover .btn-outline-light {
    color: #000000; /* Texto oscuro */
    border-color: #000000; /* Borde blanco */
}


/* Mostrar el submenú al hacer hover sobre el contenedor del menú */
.menu:hover .submenu {
    display: block;
}

/* Estilos para los enlaces del submenú */
.submenu .nav-link {
    padding: 10px 15px;
    color: #000000;
    text-align: center;
}

.submenu .navbar-nav {
    flex-direction: row; /* Para que los elementos estén en una fila */
    justify-content: center;
    margin: 0;
    padding: 0;
}

.submenu .nav-item {
    list-style: none;
}
}

.btn {
    border-radius: 0;
}

.navbar-toggler {
    border: none; /* Quitar el borde del botón */
}

/* Cambiar el color del icono del menú hamburguesa */
.navbar-toggler-icon {
    background-color: none; /* Color del icono del menú */
}

/* Mostrar el botón hamburguesa solo en pantallas pequeñas y al hacer hover en el navbar */
@media (max-width: 700px) {
    
}

video { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 980;
}
div#fashion {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



